@{
    
   Layout = null;
}
<html>

    <head></head>
    <body>

        <link rel="stylesheet" href="~/TestCss.styles.css" asp-append-version="true" />

<h1 class="color1">index</h1>
<a href="/home/Privacy">Privacy</a>
    </body>
</html>

