
@{
    
   Layout = null;
}
 <html>

    <head></head>
    <body>
        <link rel="stylesheet" href="~/TestCss.styles.css" asp-append-version="true" />

<h1 class="color2">Privacy</h1>

<a href="/home/Index">Index</a>
        </body>
        </html>
 